.card {
    border: 1px solid gray;
    padding: 50px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px black;
    width: 15vw;
    min-height: 10vh;
    position: relative;
}

.card:hover .button_container {
    visibility: visible;
}

.button_container {
    visibility: hidden;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    
}

.card_description {
    text-align: center;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
}